* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

/*justify content horizontaal*/
/*align items verticaal*/
/*justify-content is voor alle items horizontaal*/

html{
    scroll-behavior: smooth;
}
body {
    font-family: "karantina", serif;
    background-image: url("../../../OneDrive/Documents/Oud/Web_Essentials/WebstormProjects/Werkplekleren Portfolio/wpl1-2324-AyoubHannachPXL/assets/background_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*https://www.w3schools.com/cssref/pr_background-position.php*/
    max-width: 1920px;
}

/*--------------------------------------------------------------*/
header {
    background: linear-gradient(to right, #2472FC, #2472FC, #8711C1);
    color: #fff;
    display: flex;
    justify-content: space-between; /*alles horizontaal centreren*/
    padding: 1rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 10px;
}

header img {
    width: 4rem;
    margin-left: 1rem;

}

header ul {
    width: 50rem;
    /*border: 2px solid #fff;*/
    list-style-type: none;
    display: flex;
    align-items: center; /*om verticaal te centreren*/
    justify-content: space-evenly;
    font-size: 1.7rem;
}

header ul li {
    font-size: 2rem;
    letter-spacing: 1px;
}

header ul #design {
    font-family: "grechen fuemen", serif;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: normal;
}

header ul li a {
    text-decoration: none; /*om die lijn eronder weg te doen*/
    color: #fff;
}

header ul li a:hover {
    color: #f16108;
    text-decoration: underline 0.2rem;
    /*https://www.w3schools.com/cssref/pr_text_text-decoration.php*/
}
i{
    color: #3f7ef6;
    position: fixed;
    right: 3rem;
    bottom: 1rem;
    font-size: 3rem;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
}
#to_top{
    display: none;
}
/*--------------------------------------------------------------*/

#intro {
    margin: 0 1rem;
}

#intro h1 {
    font-size: 18rem;
}

#intro h2 {
    margin: 10rem 0 23rem 0;
    font-size: 2.9rem;
}

#begin {
    margin: 0 1rem 10rem 1rem;
    display: flex;
    justify-content: space-between; /*spatie tussen tekst en foto*/
    align-items: center; /*alles verticaal centreren*/
}

#algemene_info {
    width: 40rem;
    margin: auto 1rem auto 0;
    background-image: linear-gradient(to bottom, rgba(0, 128, 255, 0.5), rgba(0, 128, 255, 0.14));
    border-radius: 10px;
    padding: 10px;
}

#la_casa_de_papel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40rem;
}

#la_casa_de_papel img {
    width: 40rem;
    border-radius: 20px;
}

/*--------------------------------------------------------------*/
#deen {
    font-size: 1.5rem;

    margin: 30rem 1rem 0 1rem;
}

#deel_een {
    display: flex;
    justify-content: space-between;
}

#boek img {
    height: 70vh;

}

#boek {
    width: 20rem;
}

#boek h4 {
    padding-left: 10px;
}

#deen_info h4 {
    width: 40rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.38));
    border-radius: 10px;
    padding: 20px;
}

#moskee {
    display: flex;
    justify-content: space-between;
    margin: 3rem 1rem;
}

#hassan_deux {
    width: 35rem;
    padding-left: 10px;
}

#arabia {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    justify-content: end;

}

#moskee img {
    border-radius: 20px;
    width: 30rem;
}

/*--------------------------------------------------------------*/

#kunst {
    display: flex;
    font-size: 1.5rem;
    margin: 30rem 1rem;
    justify-content: space-between;
}

#kunst_links {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

#kunst_links h4 {
    padding-bottom: 25px;
}

#kunst_links img {
    width: 45rem;
}

#kunst_rechts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#kunst_rechts img:nth-child(1) {
    margin-top: 3.5rem;
    width: 40rem;
}

#kunst_rechts img:nth-child(2) {
    margin-top: 2rem;
    width: 44rem;
}

#kunst img {
    border-radius: 20px;
}

/*--------------------------------------------------------------*/

#autos {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#bmw {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, rgba(51, 55, 86, 0.9), rgba(51, 55, 86, 0.29));
    padding: 0 3px 30px 3px;
    border-radius: 20px;
    justify-content: center;
}

#autos #bmw h3 {
    font-size: 1.7rem;
    padding: 1rem 2rem;
}

#midden_autos {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

#bmw #midden_autos :nth-child(1) {
    margin-bottom: 2.5rem;
}

#autos h4 {
    font-size: 1.6rem;
}

#autos #bmw img {
    width: 30rem;
    border-radius: 20px;
}

#porsche {
    display: flex;
    flex-wrap: wrap;
    margin: 8rem 0 2rem 0;
    justify-content: center;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0.42));
    border-radius: 20px;
}

#porsche h4 {
    padding-top: 20px;
}

#porsche img {
    margin: 1.5rem;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
}

footer {
    height: 7rem;
    background-color: #000;
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    width: 90vw;
    margin: 0 auto 1rem auto;
    border-radius: 30px;
}

#socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
    header img {
        display: none;
    }

    header {
        padding: 1rem;
        display: flex;
        justify-content: normal;
        align-items: center;
    }

    header ul {
        width: 100vw;
    }

    section #begin {
        justify-content: normal;
        align-items: normal;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    header {
        background: linear-gradient(to top, #2472FC, #8711C1);
    }
    header ul{
        flex-direction: column;
    }

    header ul li{
        margin-bottom: 15px;
    }
    header ul li:nth-child(2){
        margin: -12px 0 8px 0;
    }
    header ul li:nth-last-child(1){
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1200px){
    #begin{
        flex-direction: column;
    }
    #la_casa_de_papel{
        margin-top: 3rem;
    }
    #deel_een {
        flex-direction: column;
        align-items: center;
    }

    #boek{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #boek h4{
        margin-top: 1rem;
        width: 30rem;
    }

    #deen_info h4 {
        margin: 6rem 0;
    }

    #deen_info h4 {
        width: 40rem;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.38));
        border-radius: 10px;
        padding: 10px;
    }

    #moskee {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
    }

    #hassan_deux {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        padding-left: 10px;
        margin-bottom: 6rem;
    }
    #hassan_deux img{
        margin-bottom: 20px;
    }

    #arabia {
        flex-wrap: wrap;
        width: 30rem;

    }

    #moskee img {
        margin-top: 20px;
        border-radius: 20px;
        width: 30rem;
    }
}

@media screen and (max-width: 1500px){
    #kunst {
        flex-direction: column;
        align-items: center;
    }

    #kunst_links {
        display: flex;
        align-items: center;
    }
    #kunst_rechts{
        align-items: center;
    }
    #kunst_rechts img:nth-child(1){
        margin-top: 2rem;
    }

    #kunst_rechts img:nth-child(2) {
        margin-top: 2rem;
    }


    #autos {
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #bmw {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
        width: 33rem;
    }
    #bmw img{
        margin-bottom: 3rem;
    }

    #midden_autos {
        padding: 0;
    }

}

@media screen and (min-width: 1920px){
    #bmw{
        width: 85vw;
    }
}

@media screen and (max-width: 850px){
    #intro h1{
        font-size: 10rem;
    }
}